*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Old Standard TT", serif;
}
:root{ 
    --principal:#89FCB3;
    --secundario:#B1FCB3;
    --tercero:#D8FCB3;
    --cuarto:#EAFCCF;
    --quinto:#FFFFF7;
}

.old-standard tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
        /*   border:  solid pink 2px; */
         
      } 
  /*input+lupa*/
 .buscar {  width: 12rem; 
    bottom: 4rem;
    position: relative;
    /* margin-top:2rem; */
 }
.buscar img {

  width: 1rem;
  position:absolute;
  display: block;
  bottom: .2rem;
  right: 1rem;
}

/* .logo_buscar {
  /*   border:  solid pink 2px; }*/
   


.logo img{
/*  border: solid brown 2px; */
    width:100%;
    height: 80%;
}


.nombretienda img{
    width: 110%;
    /*  border: solid pink 2px; */
    padding-top: 40px;
    

 
}
.log_fav_carro{
    display: flex;
  /*  border: solid brown 2px;  */ 
    gap:1.5px;
    align-items: center; 
    
}
.login img{
    width: 1.5rem;
    margin: .7rem;
    cursor: pointer;
}
.favorito img{
    width: 1.5rem;
    margin: .5rem;
    cursor: pointer;
}
.carro img {
    width: 1.5rem;
    margin: .5rem;
    cursor: pointer;
}


.headerlou{ 
    /* border: solid green; */
    display: flex;
    justify-content: space-between; 
    height: 100%;
    gap: 10rem; 
   width: 100%;

}
.logo_buscar{
    display: flex;
    align-items: flex-end;
}




































































































































































/**************yisus********************/

footer{
    background-color: var(--cuarto);
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerIzqJ{
    width: 33%;
}
.footerCenJ{
    display: flex;
    justify-content: center;
    width: 33%;
}
.footerDerJ{
    width: 33%;
    align-items: center;
    justify-content: center;
}

.infoContactoJ{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
   
}

.contenedorImagenRedeFooterJ{
    display: flex;
    justify-content: center;
    width: 12rem;

}

.textoMetodoPagoJ{
    display: flex;

}

/* .numeroPaginaJ{
    flex-direction: column;
    text-align: center;
    margin-left: 0rem;
    margin-left: 2rem;
} */

.copyrightJ{
    display: flex;
    align-items: center;
    background-color: var(--secundario);
    height: 3rem;
    text-align: center;
}

.iconosMetodoPagoJ{
    display: flex;
    width: 16rem;
     
}































































































/* 
********************Elias*********************** */
/* https://www.youtube.com/watch?v=wQx6fIkmJpM subrayado de boton */

.abrirMenuE{
    display: none;
}

.menuNavE .cerraMenuE{
    display: none;
}

.imagenMobilE{
    display: none;
}

nav{
    display: flex;
    height: 5rem;
    background-color: var(--cuarto);
   

}



.principalNavE{
    display: flex;
    /* border: solid blue; */
    width: 100%;
  
    
}

.menuNavE{
    display: flex;
    align-items: center;
   /*  border: solid green; */
    height: 5rem;
    gap: 0rem 3rem;
    padding-left: 20%;
}


.menuNavE button{
    border: none;
    background-color: var(--cuarto);
    font-size: 1rem;
    display: inline-block;
    position:relative;
    cursor: pointer;
}

.menuNavE button::after{
    content:'';
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0) ;
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;

}
.menuNavE button:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.secundarioNavE{
    display: flex;
    width: 20%;
    /* border: solid yellow; */
    justify-content: end;
}


.idiomasNavE{
   /*  border: solid red; */
    height: 5rem;
    display: flex;
    align-items: center;
    
}

.idiomasNavE button{
    border: none;
    background-color: #EAFCCF;
    font-size: 1rem;
    display: inline-block;
    position:relative;
    cursor: pointer;

}

.idiomasNavTabletE{
    display: none;

}
.idiomasNavTabletE button{
    
    border: none;
    background-color: #EAFCCF;
    font-size: 1rem;
    display: inline-block;
    position:relative;
    cursor: pointer;
}

.idiomasNavE button::after{
    content:'';
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0) ;
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
   

}
.idiomasNavE button:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
   
}
















































main{
    min-height: 25rem;
}



























































/* ****************RAYAN Inicio*********************
 */

 /* Parte de Rayan */

 /* Parte del main de la parte de inicio */
 .mainIndex_R{ width: 100%;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               display: flex;
             }
       
/* primera parte (parte superior) de inicio */
.parte_1_R{ display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
         }

/* video de la parte de incio */
.miVideo_R{ justify-content: center;
            align-items: center;
            text-align: center;
            width: 200%;
            height:200%;
            z-index: 0; 
            margin-top: 0;
            position: relative;
            background-size:auto;
          /*border: 0.3rem solid red;*/
            width: 100%;
        /*  position: fixed;  */
          }

/* div donde se ubican los botones de encima del video */
.buttons_R { position: absolute;
             bottom: 0.5rem; /* ajusta la posición vertical según sea necesario */
          /* left: 50%;*/
           /*transform: translateX(-50%);*/
           /*opacity: 0.5;*/
             display: flex;
             width: 50%;
             height:5%;
             justify-content: center;
             align-items: center;
/*border: 0.5rem solid green;*/
           }

/* Botones por individual */
.buttons_R button { background-color: transparent;
                    font-size: 2rem;
                    color: white;
                    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
                    border:0.1rem solid white;
                    border-radius: 30%;
                    border-radius: 60px;
                    padding: 1rem;
                    font-style: bold;
                  }      
                 /* border-radius: 30%;
                    margin: 0 100px;
                    border-radius: 60px;
                    margin: 20px 16px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    padding: 15px 32px;
                    width: 100%;
                    height: 100%;
                    font-size: 4rem;
                    border: 0.3rem solid red;*/


/* Parte de Jonathan Ibáñez */

/* segunda parte (parte inferior) de inicio */
.parte_2_JI{ width: 100%;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             background-image: url(/img/_MG_4069.jpg);
             background-size:cover;
             background-repeat: no-repeat;
             height: 50rem;
             top: 0;
           }

 /* Titulo de encima del a cuenta atras */
.titulo_JI{ display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 8rem;          
          }

/* Contenedor de la cuenta atras para que llegue la primavera */
.contenedorCuentaAtras_JI{ width: 60%;
                           justify-content: center;
                           align-items: center;
                           display:flex;
                           margin-bottom: 3rem;
                         }

/* Contenedor individual  donde vienen los días, las horas, los minutos y los segundos */
.contenerPequeñoCa_JI{ width: 15%;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       flex-direction: column;
                       background-color: white;
                       margin: 2rem;
                       margin-bottom: 5rem;
                       font-size: 1.5rem;
                       border-radius: 5%;
                     }

/* las palabras de día, hora, minutos y segundo */
.contenerPequeñoCa_JI p { margin: 1rem;
                        }














































































































































































































/* ********************ELIAS Quienes Somos************************* */


.fotoPortadaE img{

    width: 100%;
}

.quienesSomosParteBajaE{
    display: flex;
    align-items: center;
    justify-content:center;
   
    height: 30rem;

}

.quienesSomosFotoE{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.quienesSomosFotoE{
    margin-top: -0.5rem;

}
.quienesSomosFotoE img{
    width: 30rem;
    margin: 0 10rem;

}
.quienesSomosTextoE{
    text-align: center;
   
    height: 20rem;
    width: 50%;
    padding: 0 1rem;
}
.quienesSomosTextoE p{
   
    margin-top: -0.5rem;
}


































































































































































































/* **********************Lourdes Rebajas y Productos***************** */


















































































































































































































































































































































/* 
******************Andres Contacto y Pop up correspondiente************* */


.contactoLogoBotonA {
    display: flex;
    
}

.mainContactoBA {
    background-color: #B1FCB3;
    margin: 3%;
    display: flex;
    flex-direction: column;
    /* height: 55rem; */

}

.contactoLogoA img {
    width: 50%;
    margin-bottom: 5%;
}

.contactoLogoA {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactoImagenA img {
    width: 100%;
}

.contactoTxtBtnA {
    background-color: #FFFFF7;
    margin: 10%;
    
}

.contactoTxtBtnA {
    text-align: center;
    align-items: center;
}

.contactoBotonA {
    margin: 10%;
}

.contactoTxtBtnA p {
    margin: 10%;
    font-size: x-large;
}


.contactoIzquierdaA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contactoDerechaA {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.contactoImagenA img {
    width: 100%;
    height: 100%;
}



































































































































































































































































































































































/****Jesus POP UP de Login y Registrate*****/

.pageAccesoJ{
    
    background-image: url(img/fondoVintage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 48rem;
}

.tituloAccesoJ{
    text-align: center;
    padding-top: 5rem;
    font-size: 4rem;
    color: white;
}

.parradoAccesoJ{
    text-align: center;
    font-size: 3rem;
    color: white    ;
}

.AccesoUsuarioJ, #usuario{
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    margin-top: 1rem;
}

#usuario{
    height: 4rem;
    width: 35rem;
    border: solid black;
    margin: 1rem;
    border-radius: 1rem;
    
    font-size: 2.3rem;
    opacity: 0.7;
    margin-top: 4rem;
    padding-left: 1rem;
    font-weight: 800;
}
#contraseña{
    height: 4rem;
    border: solid black;
    width: 35rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 2.3rem;
    opacity: 0.7;
    padding-left: 1rem;
    font-weight: 800;
}
.contenedorDeBotonesJ{
    display: flex;
    justify-content: center;
    width: 40rem;
}
.iniciarJ{
        color: black !important;
        font-size: 1.2rem;
        height: 3rem;
        font-weight: 800;
        width: 15rem;
        border-radius: 1.5rem;
        background: var(--tercero);
        border: 2px solid;
        border-color: black;
        transition: all 0.5s ease;
        position: relative;
}
.iniciarJ:hover {
    background: black;
    color: white !important;
}

.registrateJ{
    color: black !important;
    font-size: 1.2rem;
    height: 3rem;
    font-weight: 800;
    width: 15rem;
    border-radius: 1.5rem;
    background: var(--tercero);
    border: 2px solid;
    border-color: black;
    transition: all 0.5s ease;
    position: relative;
}
.registrateJ:hover {
background: black;
color: white !important;
}

.cajaDePregunta{
    display: flex;
    font-size: 1.5rem;
    margin-top: 4rem;
    width: 60rem;
    color: white;
    font-weight: 700;
}



/* ************Acceso2************** */

.pageAcceso2J{
    background-image: url(img/fondoVintage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloPageAcceso2{
    width: 40rem;
    margin-top: 4rem;
}

.tituloAcceso2J{
    color: white;
    text-align: center;
    font-size: 3rem;
}

#registerJ{
    margin-top: 2rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mailJ{
    height: 4rem;
    width: 42rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid black;
    padding-left: 0.5rem;
    font-size: 2.3rem;
    opacity: 0.7;
}
#nameJ{
    height: 4rem;
    width: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid black;
    padding-left: 0.5rem;
    font-size: 2.3rem;
    opacity: 0.7;
}
#lastnameJ{
    height: 4rem;
    width: 20rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid black;
    padding-left: 0.5rem;
    font-size: 2.3rem;
    opacity: 0.7;
}
#telefonoJ{
    height: 4rem;
    width: 42rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid black;
    padding-left: 0.5rem;
    font-size: 2.3rem;
    opacity: 0.7;
}
#passwordJ{
    height: 4rem;
    width: 42rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid black;
    padding-left: 0.5rem;
    font-size: 2.3rem;
    opacity: 0.7;
}

.politicaPage2J{
    display: flex;
    font-size: 1.5rem;
    width: 60rem;
    color: white;
    font-weight: 700;
    padding-right: 22rem;
}
.registrarPage2J{
    margin-top: 1rem;
    align-items: center;
    color: black !important;
    font-size: 1.5rem;
    height: 3rem;
    font-weight: 800;
    width: 15rem;
    border-radius: 1.5rem;
    background: var(--tercero);
    border: 2px solid;
    border-color: black;
    transition: all 0.5s ease;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 65rem;
}

.registrarPage2J:hover {
    background: black;
    color: white !important;
    }































































































































































































































/* 
height: 5rem;
gap: 5rem;
padding-top: 15px;










ogo+iconos/logo sexta

100px

















height: 5rem;
gap: 5rem;

height: 5rem;
gap: 5rem;
padding-top: 15px;





/* Página de descripción del producto-----Jonathan Ibáñez------ */

.MainDescripcionProducto_JI{ display: flex;
                             width: 100%;
                             flex-direction: column;
                             justify-content: center;
                             align-items: center;
                           }

.tituloDescripcion_JI{ display: flex;
                       width: 100%;
                       justify-content:center;
                       align-items: center;
                     }

.contenedorDescripciónProducto_JI{ background-color: #89FCB3;
                                   width: 80%;
                                   height: 100%;
                                   border: black;
}

.politica_empresa_JI{display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 80%;
                     flex-direction: column;
                    
                    }
.politicaEntrega_JI{/*display: flex;*/
                    width: 100%;
                    justify-content: start;
                    align-items: start;
                    flex-direction: column;
                    text-align: start;
                    left: 0;
                    margin-top: 1rem;
                   }       
.politicaDevoluciones_JI{/*display: flex;*/
                           width: 100%;
                           justify-content: start;
                           align-items: start;
                           flex-direction: column;
                           text-align: start;
                           left: 0;
                           margin-top: 1rem;
                           margin-bottom: 2rem;
                        }

.metodoDePago_JI{display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-direction: column;
                }



























































/* TABLET */
@media screen and (max-width: 950px) {
   
    .menuNavE{
        gap: 0.5rem;
        
    }

    .idiomasNavE{
        display: none;
        
    }

    .idiomasNavTabletE{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0.5rem;
       
        
    }

    .idiomasNavTabletE button::after{
        content:'';
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform: scaleX(0) ;
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
        
    
    }
    .idiomasNavTabletE button:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;}

    .idiomasNavTabletE button{
        width: 2rem;
        border-radius: 0.5rem 0;
    }

    .iconosMetodoPagoJ{
        justify-content: center;
    }

    .iconosMetodoPagoJ img{
        height: 2.2rem;
        margin: 0.1rem;
    }

    .contenedorImagenRedeFooterJ img{
        height: 2.2rem;
     
    }

    .footerIzqJ{
        width: 40%;
    }
    .footerCenJ{
        width: 20%;
    }
    .footerDerJ{
        width: 40%;
       
    }

    /* **********ELIAS TABLET QUIENES SOMOS********* */
    .quienesSomosParteBajaE{
        min-height: 50rem;
        flex-direction: column;
        padding-bottom: 7rem;
        justify-content: space-between;
        padding-bottom: 2.5rem;
       
    }

    .quienesSomosTextoE{
    
        width: 80%;
        
    }
     .quienesSomosTextoE p{ margin-top: -5rem;
     }
    
/* Jonathan y Rayan Inicio parte tablet */


/* Parte superior (parte del video con botones) */
.buttons_R{ width: 30%;
            align-items: start;
            bottom:inherit;
            align-items:none;
          }


/* Parte inferior (parte de la cuenta de atras) */
.contenedorCuentaAtras_JI{grid-row:auto;

}







}


























































































































































































































































































/* MOVIL */
@media screen and (max-width: 550px){
  /*   
        .principalNavE{
        display: none;
    } */
    header{
        display: none;
    }

    .menuNavE button{
        background-color: var(--principal);
    }
    

    
    .menuNavE{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 15rem;
        background-color: var(--principal);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        border-radius: 0 0 1rem 0;
    
    }

    .menuNavE.visible{
        opacity: 1;
        visibility: visible;
    }


    .abrirMenuE{
        display: flex ;
        position: absolute;
        border: none;
        background-color: var(--cuart);
        font-size: 1rem;
        display: inline-block;
        cursor: pointer;
        
    }

    .abrirMenuE::after{
        content:'';
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform: scaleX(0) ;
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
    
    }
    .abrirMenuE:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .principalNavE {
        align-items: center;
        padding-left: 1rem;

    }

    .menuNavE .cerraMenuE{
        display: block;
    }

    .imagenMobilE{
        display: flex;
        padding-right: 25%; 

    }

    footer{
        height: 10rem;
    }
    .infoContactoJ{
        width: 10rem;
    }
    .contenedorImagenRedeFooterJ{
        width: 10rem;

    }

    .contenedorImagenRedeFooterJ img{
        height: 2rem;
        
    }

    .footerCenJ img{
        height: 6rem;
    }

    .textoMetodoPagoJ{
        width: 10rem;
    }
    .iconosMetodoPagoJ{
        width: 10rem;
        justify-content: center;
    
    }

    .iconosMetodoPagoJ img{
        margin: 0;

    }



   /*  **********ELIAS QUIENES SOMOS********** */

   .quienesSomosTextoE{
        
    width: 100%;
    }

    .quienesSomosParteBajaE{
        padding-bottom: 2rem;
    }

    


}
    








































































































@media screen and (max-width: 400px){
    .footerCenJ{
        display: none;
    }

    footer{
        flex-direction: column;

    }

    .imagenMobilE{
        margin-left: 25%;
    }

    .idiomasNavTabletE{
        margin-right: 110%;
    }
    
    .quienesSomosFotoE img{
    
        height: 15rem;
        margin-top: 2rem;
        /* display: none; */

    }

    .quienesSomosTextoE p{
        margin-top: -8rem;
      
    }
    
}

