*{
    margin: 0 auto;
    box-sizing: content-box;
    font-family: "Old Standard TT", serif;
}
:root{ 
    --principal:#89FCB3;
    --secundario:#B1FCB3;
    --tercero:#D8FCB3;
    --cuarto:#EAFCCF;
    --quinto:#FFFFF7;
}

.old-standard tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }

.logo_buscar{
    border:  solid black 2px;
}
.nombretienda{
    border: solid pink 2px;
}
.logo_fav_carro{
    border: solid brown 2px;
}


























































































































































































/**************yisus********************/

footer{
    background-color: var(--cuarto);
    height: 10rem;
    display: flex;
}
.numeroPaginaJ{
    flex-direction: column;
    margin: auto;
    text-align: center;
    margin-left: 0rem;
    margin-left: 2rem;
}
.contenedorImagenRedeFooter{
    margin: auto;
    margin-right: 0rem;
    margin-right: 2rem;
}
.copyright{
    background-color: var(--secundario);
    text-align: center;
}

































































































/* 
********************Elias*********************** */
nav{
   display: flex;
    height: 5rem;
    background-color: var(--cuarto);
    

}

.principalNavE{
    display: flex;
    border: solid blue;
    width: 100%;
  
    
}

.secundarioNavE{
    display: flex;
width: 20%;
    border: solid yellow;
    justify-content: end;
}

.menuNavE{
    display: flex;
    align-items: center;
   /*  border: solid green; */
    height: 5rem;
   
}

.idiomasNavE{
   /*  border: solid red; */
    height: 5rem;
    display: flex;
    align-items: center;


    
}
































































































